
.home_cards1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 233px 233px;
	column-gap: 16px;
	row-gap: 16px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	margin-top: 280px;
	margin-left: 50px;
	margin-right: 50px;
 }

 .title {
	padding-top: 190px;
	color: #ffffff;
	padding-left: 50px;
	font-size: 35px;
 }

 .hm_card{
	position: relative;
	cursor: pointer;
	border-radius: 10px;
 }
 .box img {
	width: 100%;
	height: 190px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
 }
 
 .box_details{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 240px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	transition: all 0.2s ease-in-out;
	background: transparent;
	opacity: 1;
	
 }
/*  
 .box_details:hover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 240px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content: flex-end;
	transition: all 0.2s ease-in-out;
	background: transparent;
	opacity: 1;
	border-radius: 10px;
	border-top: 10px solid #7810df;
 } */
 
 .play-icon{
	width: 100%;
	background-color: rgba(255, 252, 252, 0.158);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border:none;
	padding-left: 10px;
	border: 1px solid #ffffff1f;
 }



 @media screen and (max-width: 576px) {


	.home_cards1{
		width: 100%;
		display: inline-block;
		margin: 0px;
		margin-top: 230px;
		justify-content: center;
		align-items: center;
		padding-left: 30px;
		padding-right: 30px;
	 }

	 .title {
		padding-top: 165px;
		color: #ffffff;
		padding-left: 30px;
		font-size: 20px;
	 }

	 .box img {
		width: 100%;
		height: 160px;
		object-fit: cover;
		margin-bottom: 50px;
	 }
	 
	 .box_details{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 210px;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		transition: all 0.2s ease-in-out;
		background: transparent;
		opacity: 1;  
	 }
  
 }